{% extends 'app/base.html'%}

{% load static %}

{%block js%}

{%endblock%}

{%block css%}

{%endblock%}

{% block contenido%}
  <main>
    <div class="container">
      <h1>Acerca de nosotros</h1>
      <hr />
      <p id = "acerc">
        Somos una empresa dedicada a la venta de productos marvel, dentro de esta categoria podemos encontrar figuras y comics.
      </p>
      <br />
      <pd = "acerc">
        Estos productos son 100% originales, por ende el precio puede variar según su lugar de exportación y lugar de elaboración.
      </p>
    </div>
  </main>
{% endblock %}